<head>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script>

		
		function newTab() {
		 var form = document.createElement("form");
		 form.method = "GET";
		 form.action = "http://{{IPAddr}}:3000";
		 form.target = "_blank";
		 document.body.appendChild(form);
		 form.submit();
		}
		</script>
</head>

<body onload="setTimeout(newTab, 3000)">
	<h3>
		ssid: {{ ssid }}<br>
		password: {{ password }}<br>
		router mac: {{ mac }}<br>
		security: {{ security }}<br>
	</h3>	
	<h2>Device IP: {{ IPAddr }}:3000</h2>
	<h1>
		the <b>network manager</b> interface should be opened in a new tab.<br>
		if it doesn't, clik
		<a href="http://{{IPAddr}}:3000">here</a>
	</h1>
</body>