<!doctype html>

<head>
  <title>Network Scanner</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
  <style>
      h1{
      color : navy;
      font-family : Impact, Charcoal, sans-serif;
      margin-left:70px;
      }
      h2{
      color : navy;
      font-family : Impact, Charcoal, sans-serif;
      margin-left : 70px
      }
      input, select{
      margin-left : 70px;
      }
  </style>
</head>

<body>
    <br><h1>Select Network</h1>
    <form method="POST" action="/sendData">
        <select name="ssid" style="width:200px">
        <option value="no_val"></option>
        {% for ssid in networks %}
            <option value="{{ ssid }}">{{ ssid }}</option>
        {% endfor %}
    </select>
    <br><br>
    <h2>Enter Your Password</h2>
    <input type ="password" name = "password" value="" style="width:200px">
    <br><br><br>
    <input type ="submit" name=""value="connect!" style="width:200px">
</form>
<br><br>
<form method="GET" action="/reloadNetworks">
    <input type ="submit" action="/reloadNetworks" value="scan again" style="width:200px">
</form>
</body>