<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="refresh" content="{{ duration }};url=/showNetworks" />
<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

 <style>
      h1{
      color : navy;
      font-family : Impact, Charcoal, sans-serif;
      margin-left: 70px;
      }
      h2{
      color : navy;
      font-family : Impact, Charcoal, sans-serif;
      margin-left: 70px;
      }
      div{
      margin-left:70px;
      }

  </style>
</head>

<body>
  <img src="/static/logo.png" alt="logo" style="width: 40% ; margin-left:0px;">
  <h1>Loading available Network for you...</h1>
  <div class="loader" ></div>
  <h2>It could take a while...</h2>

</body>
</html>
