extends scansLayout

block styleBlock
  style.

    .slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }

    .scan1{
      position: absolute;
      top: 10%;
      left: 10%;
      width: 30%;
      height: 20%;
      background-color: #D9D9F2;
      text-align:center;
      Border-radius: 10px; 
      font-family: "Lato", sans-serif;
      font-size: 140%;
    }
    
    
    .getLog{
      position: absolute;
      top: 40%;
      left: 10%;
      width: 30%;
      height: 20%;
      background-color:#D9D9F2;
      text-align:center;
      Border-radius: 10px; 
    }
    
    .getPassStrength{
      position: absolute;
      top: 70%;
      left: 10%;
      width: 30%;
      height: 20%;
      background-color:#D9D9F2;
      text-align:center;
      Border-radius: 10px; 
    }
    
    
        
    .realTimeScan1{
      position: relative;
      top: 10%;
      left: 73%;
      width: 25%;
      height: 8%;
      background-color:#D9D9F2;
      text-align:left;
      Border-radius: 10px;
      padding: 10px;
    }
    
    .realTimeScan2{
      position: relative;
      top: 21%;
      left: 73%;
      width: 25%;
      height: 8%;
      background-color:#D9D9F2;
      text-align:left;
      Border-radius: 10px; 
      padding: 10px;
    }
    
    .realTimeScan3{
      position: relative;
      top: 32%;
      left: 73%;
      width: 25%;
      height: 8%;
      background-color:#D9D9F2;
      text-align:left;
      Border-radius: 10px;      
      padding: 10px;
    }
    
    .realTimeScan4{
      position: relative;
      top: 43%;
      left: 73%;
      width: 25%;
      height: 8%;
      background-color:#D9D9F2;
      text-align:left;
      Border-radius: 10px; 
      padding: 10px;
    }

    .realTimeScan5{
      position: relative;
      top: 54%;
      left: 73%;
      width: 25%;
      height: 8%;
      background-color:#D9D9F2;
      text-align:left;
      Border-radius: 10px; 
      padding: 10px;
    }

    .realTimeScan6{
      position: relative;
      top: 65%;
      left: 73%;
      width: 25%;
      height: 8%;
      background-color:#D9D9F2;
      text-align:left;
      Border-radius: 10px; 
      padding: 10px;
    }

    .realTimeScan7{
      position: relative;
      top: 76%;
      left: 73%;
      width: 25%;
      height: 8%;
      background-color:#D9D9F2;
      text-align:left;
      Border-radius: 10px; 
      padding: 10px;
    }

    .realTimeScan8{
      position: relative;
      top: 87%;
      left: 73%;
      width: 25%;
      height: 8%;
      background-color:#D9D9F2;
      text-align:left;
      Border-radius: 10px; 
      padding: 10px;
    }
    
    .toggle1{
      position: absolute;
      top: 11%;
      right: 30%;
      width: 12%;
      height: 8%;
      text-align:center;
    }
    
    .toggle2{
      position: absolute;
      top: 22%;
      right: 30%;
      width: 12%;
      height: 8%;
      text-align:center;
    }
    
    .toggle3{
      position: absolute;
      top: 33%;
      right: 30%;
      width: 12%;
      height: 8%;
      text-align:center;
    }
    
    .toggle4{
      position: absolute;
      top: 44%;
      right: 30%;
      width: 12%;
      height: 8%;
      text-align:center;
    }
    
    .toggle5{
      position: absolute;
      top: 55%;
      right: 30%;
      width: 12%;
      height: 8%;
      text-align:center;
    }
    
    .toggle6{
      position: absolute;
      top: 66%;
      right: 30%;
      width: 12%;
      height: 8%;
      text-align:center;
    }
    
    .toggle7{
      position: absolute;
      top: 77%;
      right: 30%;
      width: 12%;
      height: 8%;
      text-align:center;
    }
    
    .toggle8{
      position: absolute;
      top: 88%;
      right: 30%;
      width: 12%;
      height: 8%;
      text-align:center;
    }
    
    .btn-outline-secondary{  
      position:absolute;
      right: 0;
      top: 0;
      height: 100%;
      width:100%;
      background-color:white;
      white-space: normal     
      Border-radius:  
    }

block content
  h3(style="text-align: center") #{title}
  .scan1
    form(method='get', action='/loading')
      button(type="submit" class="btn btn-outline-secondary") Show current network status <br>(it could take a while...) 
  .getLog
    form(method='get', action='/getSavedLog')
      button(type="submit" class="btn btn-outline-secondary") Get Log
  .getPassStrength
    form(method='get', action='/checkPassword')
      button(type="submit" class="btn btn-outline-secondary") Get network password strength
  .realTimeScan1
    lable man in the middle
  .realTimeScan2
    lable DNS spoofing
  .realTimeScan3
    lable Evil Twin
  .realTimeScan4
    lable DHCP spoofing
  .realTimeScan5
    lable Smurf
  .realTimeScan6
    lable SYN-Flood
  .realTimeScan7
    lable SSL-STRIP 
  .realTimeScan8
    lable Option
      
  .toggle1
    form(method='post',action='/changeScan')
      if flags.man_in_the_middle_flag
        input(type="checkbox" name="mitm_toggle" data-width="90%" data-height="90%" data-onstyle="success" data-style="slow" data-offstyle="danger" checked="" data-toggle="toggle" onChange="this.form.submit()")
      else
        input(type="checkbox" name="mitm_toggle" data-width="90%" data-height="90%" data-onstyle="success" data-style="slow" data-offstyle="danger" data-toggle="toggle" onChange="this.form.submit()")
      input(type="hidden" value="off" name="mitm_toggle")
  .toggle2
    form(method='post',action='/changeScan' )
      if flags.dns_spoofing_flag
        input(type="checkbox" name="dns-spoofing_toggle" data-width="90%" data-height="90%" data-onstyle="success" data-style="slow" data-offstyle="danger" checked="" data-toggle="toggle" onChange="this.form.submit()")  
      else
        input(type="checkbox" name="dns-spoofing_toggle" data-width="90%" data-height="90%" data-onstyle="success" data-style="slow" data-offstyle="danger" data-toggle="toggle" onChange="this.form.submit()")  
      input(type="hidden" value="off" name="dns-spoofing_toggle")
  .toggle3
    form(method='post',action='/changeScan' )
      if flags.evil_twin_flag
        input(type="checkbox" name="Evil-Twin_toggle" data-width="90%" data-height="90%" data-onstyle="success" data-style="slow" data-offstyle="danger" data-toggle="toggle" onChange="this.form.submit()" checked="")
      else
        input(type="checkbox" name="Evil-Twin_toggle" data-width="90%" data-height="90%" data-onstyle="success" data-style="slow" data-offstyle="danger" data-toggle="toggle" onChange="this.form.submit()")
      input(type="hidden" value="off" name="Evil-Twin_toggle")
  .toggle4
    form(method='post',action='/changeScan' )
      if flags.dhcp_spoofing_flag
        input(type="checkbox" name="dhcp-spoofing_toggle" data-width="90%" data-height="90%" data-onstyle="success" data-style="slow" data-offstyle="danger" data-toggle="toggle" onChange="this.form.submit()" checked="")
      else
        input(type="checkbox" name="dhcp-spoofing_toggle" data-width="90%" data-height="90%" data-onstyle="success" data-style="slow" data-offstyle="danger" data-toggle="toggle" onChange="this.form.submit()")
      input(type="hidden" value="off" name="dhcp-spoofing_toggle")
  .toggle5
    form(method='post',action='/changeScan' )
      if flags.smurf_flag
        input(type="checkbox" name="Smurf_toggle" data-width="90%" data-height="90%" data-onstyle="success" data-style="slow" data-offstyle="danger" data-toggle="toggle" onChange="this.form.submit()" checked="")
      else
        input(type="checkbox" name="Smurf_toggle" data-width="90%" data-height="90%" data-onstyle="success" data-style="slow" data-offstyle="danger" data-toggle="toggle" onChange="this.form.submit()")
      input(type="hidden" value="off" name="Smurf_toggle")
  .toggle6
    form(method='post',action='/changeScan' )
      if flags.syn_flood_flag
        input(type="checkbox" name="Syn-Flood_toggle" data-width="90%" data-height="90%" data-onstyle="success" data-style="slow" data-offstyle="danger" data-toggle="toggle" onChange="this.form.submit()" checked="")
      else
        input(type="checkbox" name="Syn-Flood_toggle" data-width="90%" data-height="90%" data-onstyle="success" data-style="slow" data-offstyle="danger" data-toggle="toggle" onChange="this.form.submit()")
      input(type="hidden" value="off" name="Syn-Flood_toggle")
  .toggle7
    input(type="checkbox" data-width="90%" data-height="90%" data-onstyle="success" data-style="slow" data-offstyle="danger" checked="" data-toggle="toggle")    
  .toggle8
    input(type="checkbox" data-width="90%" data-height="90%" data-onstyle="success" data-style="slow" data-offstyle="danger" checked="" data-toggle="toggle")    
