extends scansLayout

block content
  h3(style="text-align: center") #{title}
  form(method='POST', action='/AuthorizationChange')
    table
      tr
        td
          label Username to authorized:  &nbsp; &nbsp;
        td
          input.form-control(type="text" name="username")
        td
        td
        td
        td
          center 
            select(name="level" class="form-control")
              .dropdown-menu
                option(class="dropdown-item" href="#" value='0') not authorized
                option(class="dropdown-item" href="#" value='1') user
                option(class="dropdown-item" href="#" value='2') Admin
    br    
    input.form-control(type="submit" value="Submit")
