extends scansLayout

block content
  h3(style="text-align: center") #{title}
  form(method='POST', action='/setScan')
    #form-grou
      b
        label Scan name:
      input.form-control(type="text" name="scanName" value="Untitled Scan")
    br
    #form-group  
      b
        label User: 
      input.form-control(type="text" name="username" readonly="readonly" value=`${username}`)
    br
    #form-group  
      b 
        label Product MAC: 
      input.form-control(type="text" name="productMac" readonly="readonly" value=`${productMac}`)
    br
    #form-group
      b 
        label Date:
      input.form-control(type="text" name="date" readonly="readonly" value=`${date}`) 
    br
    #form-group
      b
        label Router MAC:
      input.form-control(type="text" name="routerMac" readonly="readonly" value=`${routerMac}`)
    br
    br
    table(style="width:100%")
      tr
        td
          b
            lable Security hole name 
        td
          b
            lable Attacker
        td
          b
            lable Date
        td
          b
            lable Hour
      -var cnt = 0;
      for result in results
        each resultStats,resultName in result
          tr(style="width:100%")
            td
              input.form-control(type="text" name=`${resultName}_${cnt}_name` readonly="readonly" value=`${resultName}`)
            td
              input.form-control(type="text" name=`${resultName}_${cnt}_attacker` readonly="readonly" value=`${resultStats.attacker}`)
            td
              input.form-control(type="text" name=`${resultName}_${cnt}_date` readonly="readonly" value=`${resultStats.date}`)
            td
              input.form-control(type="text" name=`${resultName}_${cnt}_hour` readonly="readonly" value=`${resultStats.hour}`)
          -cnt = cnt + 1;         
    br
    br
    input.form-control(type="submit" value="Submit")
    br
    br
