doctype html
head
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel="stylesheet" href='/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css')
    block styleBlock
    style.
      body {
      font-family: "Lato", sans-serif;
      }
      .main {
      position: absolute;
      font-size: 100%; /* Increased text to enable scrolling */
      padding: 0px 2%;
      height: 100%;
      width:100%;
      background-color: #D9D9F2;
      }
body    
  .main
    block content
script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
script(src='/bower_components/jquery/dist/jquery.js') 
script(src='/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js')
