extends emailLayout

block content
  h3(style="text-align: center") #{title}
  br
  if scan
    b
      h5 Scan details:
    br  
    label Responsible User: 
      b #{scan.username}
    br
    label Product MAC-ADDRESS: 
      b #{scan.productMac}
    br
    label Name: 
      b #{scan.name}
    br
    label Date: 
      b #{scan.date}
    br
    label Activated on Router: 
      b #{scan.routerMac}
    br
    br
    h5 Scan results:
    table(style="width:100%")
      tr
        td
          b
            lable Security hole name
        td 
          b
            lable Date
        td 
          b 
            lable Hour
        td
          b
            lable Attacker
      each result in scan.results
        tr(style="width:100%")
          td
            label #{result.holeName}
          td
            lable #{result.date}
          td
            lable #{result.hour}
          td 
            lable #{result.attacker}
