extends scansLayout

block styleBlock
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')

block content
  h3(style="text-align: center") #{title}
  br
  table(style="height:120%;width:90%",align="center")
    tr(style="height:50%")
      td(style="width:33%;")
        .card(style='position: relative; width:100%; height:100%; border: 1px solid #ccc; background-color: #f3f3f3;')
          img.card-img-top(src='http://localhost:3000/images/Man-in-the-middle-attacks.jpg', alt='Card image cap')
          .card-body
            h5.card-title
              b MITM
              |  Man In The Middle
            p.card-text
            #accordion
              .card
                #headingOne.card-header
                  h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#mitm-collapseOne', aria-expanded='false', style="white-space: normal;", aria-controls='mitm-collapseOne')
                      |what does the attacker can get, 
                      br
                      |and how does it work?
                #mitm-collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                  .card-body
                    | The Man In The Middle attack (or in its short name - MITM) is an attack where the attacker is pretending to be the router.
                    br
                    | 									In order to do so he poisend the ARP cash with fake ARP responses cuase to a normal user's computer to send packets to the attacker machin insted of the router.
              .card
                #headingTwo.card-header
                  h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#mitm-collapseTwo', aria-expanded='false',style="white-space: normal;", aria-controls='mitm-collapseTwo')
                      | How can you keep yourself safe?
                #mitm-collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordion')
                  .card-body
                    | In order to save your network safe and avoid ARP poisening, you have to keep the ARP poiseners out of the network. 
                    br
                    | 									Our product keep you safe, disconnect every ARP poisener from the network and make shur they will not be able to connect again.
      td(style="width:33%;")
        .card(style='position: relative; width:100%; height:100%; border: 1px solid #ccc; background-color: #f3f3f3;')
          img.card-img-top(src='http://localhost:3000/images/Evil-twin-attack.jpg', alt='Card image cap')
          .card-body
            h5.card-title 
              br
              |Evil Twin
            p.card-text
            #accordion
              .card
                #headingOne.card-header
                  h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#et-collapseOne', aria-expanded='false',style="white-space: normal;", aria-controls='et-collapseOne')
                      | what does the attacker can get,
                      br
                      | and how does it work?
                #et-collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                  .card-body(style='overflow: scroll;height: 300px;')
                    | Evil Twin is an attack when the attacker tries to get the password to your network. 
                    | he relies on the fact that most devices today remmemmber the network name (the ESSID)
                    | and automaticly connect to it when possible. During the connection process, the victim pass the password with an encription while the AP machin 
                    | is the one who generate the encription key.
                    br
                    b So what does the attacker do?
                    br
                    | 									first of all he create a fake wireless Access Point.
                    | 									Then, he disconnect you from the network you were connected to and hope your device will connect to his fake AP and pass the password.
              .card
                #headingTwo.card-header
                  h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#et-collapseTwo', aria-expanded='false',style="white-space: normal;", aria-controls='et-collapseTwo')
                      | How can you keep yourself safe?
                #et-collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordion')
                  .card-body
                    | It is hard to keep yor network protected from that kind of attacks. We are trying to recognize when someone active a network with the sane ESSID as you,
                    | but we have no way to save you.
                    br
                    | 									All we can do is ti give you a warning.
      td(style="width:33%;")
        .card(style='position: relative; width:100%; height:100%; border: 1px solid #ccc; background-color: #f3f3f3;')
          img.card-img-top(src='http://localhost:3000/images/dns-poisening.png', alt='Card image cap')
          .card-body
            h5.card-title DNS spoofing
            p.card-text
            #accordion
              .card
                #headingOne.card-header
                  h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#dns-collapseOne', aria-expanded='false',style="white-space: normal;", aria-controls='dns-collapseOne')
                      | what does the attacker can get,
                      br
                      | and how does it work?
                #dns-collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                  .card-body
                    p
                    | The DNS spoofing attack is an attack when the attacker poisend the DNS cash. The goal is to redirect traffic to the attacker,
                    | so victiom may pass important information like username or password.
              .card
                #headingTwo.card-header
                  h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#dns-collapseTwo', aria-expanded='false',style="white-space: normal;", aria-controls='dns-collapseTwo')
                      | How can you keep yourself safe?
                #dns-collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordion')
                  .card-body
                    | Our product keep you safe while disconnecting every DNS spoofer from the network and make shur they will not be able to connect again.
                    br
                    | 									In addition, we are monitoring every DNS response in the network and verify it with a trusted server.
    tr(style="height:50%")
      td(style="width:33%;")
        .card(style='position: relative; width:100%; height:100%; border: 1px solid #ccc; background-color: #f3f3f3;')
          img.card-img-top(src='http:/images/dhcp-spoofing.png', alt='Card image cap')
          .card-body
            h5.card-title
              b DHCP
              |  spoofing attack
            p.card-text
            #accordion
              .card
                #headingOne.card-header
                  h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#dhcp-collapseOne', aria-expanded='false',style="white-space: normal;", aria-controls='dhcp-collapseOne')
                      | what does the attacker can get, 
                      br
                      |and how does it work?
                #dhcp-collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                  .card-body
                    | Since DHCP spoofing isn't a risky attack, it is only important to make sour that the details received from the DHCP server are true. If not, our product disconnects the DHCP spoofer and mark is as an attacker.
                    br
                    | 									In addition, we also disconnect the victim in order to force him to connect again to the network and pass the DHCP process again.

              .card
                #headingTwo.card-header
                  h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#dhcp-collapseTwo', aria-expanded='false',style="white-space: normal;", aria-controls='dhcp-collapseTwo')
                      | How can you keep yourself safe?
                #dhcp-collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordion')
                  .card-body
                    | DHCP spoofing is an attack occurs when someone is connects to the network. There is no risk when someone pretend to be the DHCP server. The risk exists when the attacker sends the victim wrong DNS server or wrong default getaway.  Then, he can be risk under DNS spoofing or even worst, under man in the middle without being able to detect it.
      td(style="width:33%;")
        .card(style='position: relative; width:100%; height:100%; border: 1px solid #ccc; background-color: #f3f3f3;')
          img.card-img-top(src='http:/images/smurf.png', alt='Card image cap')
          .card-body
            h5.card-title SMURF ATTACK
            p.card-text
            #accordion
              .card
                #headingOne.card-header
                  h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#smurf-collapseOne',style="white-space: normal;", aria-expanded='false', aria-controls='smurf-collapseOne')
                      | what does the attacker can get,
                      br
                      | and how does it work?
                #smurf-collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                  .card-body
                    | In order to avoid a situation when someone flood the network, we are sniffing every ICMP packet and make sour the ICMP traffic is normal. Unless the attack doesn’t comes from a source outside the network, we are disconnecting the attacker.
              .card
                #headingTwo.card-header
                  h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#smurf-collapseTwo', aria-expanded='false',style="white-space: normal;", aria-controls='smurf-collapseTwo')
                      | How can you keep yourself safe?
                #smurf-collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordion')
                  .card-body
                    | Smurf attack is type of DoS (denial of service) attack the purpose of the attack if to disable resources in the network.
                    br
                    | The Smurf attack designed to flood the victim's network card using ICMP packets (Ping)

      td(style="width:33%;")
        .card(style='position: relative; width:100%; height:100%; border: 1px solid #ccc; background-color: #f3f3f3;')
          img.card-img-top(src='http:/images/syn-flood.png', alt='Card image cap')
          .card-body
            h5.card-title 
              b SYN FLOOD 
              | attack
            p.card-text
            #accordion
              .card
                #headingOne.card-header
                  h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#syn-collapseOne', aria-expanded='false',style="white-space: normal;", aria-controls='syn-collapseOne')
                      | what does the attacker can get,
                      br
                      | and how does it work?
                #syn-collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordion')
                  .card-body
                    p
                    | If the attack comes from a source inside the network, we are able to disconnect the attacker and make sour that real clients will not be interrupted. If not, this is a bigger problem.
                    p
                    | Our suggestion, is to defence the server with no dependence on the network security. We will highly recommend to make sour that the softwore that runs on the server will protect the server from a cases like this.
              .card
                #headingTwo.card-header
                  h5.mb-0
                    button.btn.btn-link.collapsed(data-toggle='collapse', data-target='#syn-collapseTwo', aria-expanded='false',style="white-space: normal;", aria-controls='syn-collapseTwo')
                      | How can you keep yourself safe?
                #syn-collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordion')
                  .card-body
                    | SYN flood attack is a DoS (Denial of Service) attack designed to work over TCP protocol and take advantage of the fact that servers have limited amount of open sessions. The attacker flood the server with a lot of connection requests and does not allow real clients to use the service.
