extends scansLayout

block styleBlock
  style.
    .Login{
      position: relative;
      top: 70%;
      left: 35%;
      width: 30%;
      height: 20%;
      background-color:#D9D9F2;
      text-align:center;
      Border-radius: 10px; 
    }

block content
  h3(style="text-align: center") #{title}
  img(src='/images/BlueLogo.jpeg' alt='Logo' style="position: relative; right: 0px; width:100%;")
  if logedIn
    br
    br
    a(href="/LoginPage" style="size=300%")
      .Login
        button(class="btn btn-outline-secondary") Login
