doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Collapsible sidebar using Bootstrap 4
  link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
  link(rel="stylesheet" href='/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css')
  // Bootstrap CSS CDN
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4' crossorigin='anonymous')
  // Font Awesome JS
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.13/js/solid.js' integrity='sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ' crossorigin='anonymous')
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js' integrity='sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY' crossorigin='anonymous')
  block styleBlock
  style.
    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
    body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    }
    p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
    }
    a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    }
    .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    }
    .main {
    position: absolute;
    padding: 0px 2%;
    width:100%;
    background-color: #D9D9F2;
    }
    .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
    }
    /* ---------------------------------------------------
    SIDEBAR STYLE
    ----------------------------------------------------- */
    .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
    }
    #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    }
    #sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
    }
    #sidebar .sidebar-header {
    padding: 20px;
    text-align:center;
    background: #6d7fcc;
    }
    #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
    }
    #sidebar ul p {
    color: #fff;
    padding: 10px;
    }
    #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    }
    #sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
    }
    #sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
    }
    a[data-toggle="collapse"] {
    position: relative;
    }
    .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    }
    ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
    }
    ul.CTAs {
    padding: 20px;
    }
    ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
    }
    a.download {
    background: #fff;
    color: #7386D5;
    }
    a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
    }
    /* ---------------------------------------------------
    CONTENT STYLE
    ----------------------------------------------------- */
    #content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    }
    #sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
    }
    #sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
    }
    #sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
    }
    #sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
    }
    #sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
    }

.wrapper
  // Sidebar Holder
  nav#sidebar
    .sidebar-header
      h3 NETWORK scanner
    ul.list-unstyled.components
      p Hello #{username}
      li.active
        a(href="/") Home Page
      li
        a(href='#') Attacks Information
      if logedIn
        li
          a(href="/Register") Sign up
        li
          a(href="/LoginPage") Login
      else
        li
          a(href="/AuthorizationChange") Change authorization
        li
          a(href="/ActiveScan") Create Scan
        li
          a(href="/Scans") Scans
        li
          a(href="/setConfiguration") Set Configurations
        li
          a(href="/Logout") Logout
  // Page Content Holder
  #content
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top
      .container-fluid
        button#sidebarCollapse.navbar-btn(type='button')
          span
          span
          span
        img(src='http://localhost:3000/images/logo.png' alt='Logo' style="position: absolute; right: 0px; height:100%;")
    != messages('message',locals)
    if errors
      each error, i in errors
        div(class="alert alert-danger") #{error.msg}
    .main
      block content
// jQuery CDN - Slim version (=without AJAX)
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
// Popper.JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js' integrity='sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ' crossorigin='anonymous')
// Bootstrap JS
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js' integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm' crossorigin='anonymous')
script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
script(src='/bower_components/jquery/dist/jquery.js') 
script(src='/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js')
script(type='text/javascript').
  $(document).ready(function () {
  $('#sidebarCollapse').on('click', function () {
  $('#sidebar').toggleClass('active');
  $(this).toggleClass('active');
  });
  });
