doctype html
html
  head
    title #{title}
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
  body
    .container
      .d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
        h5.my-0.mr-md-auto.font-weight-normal Net Scan
        nav.my-2.my-md-0.mr-md-3
          a.p-2.text-dark(href="/") Home
          if logedIn
            a.p-2.text-dark(href="/Register") Sign up
            a.btn.btn-outline-primary(href="/LoginPage") Login
          else
            a.p-2.text-dark(href="/AuthorizationChange") Change authorization
            a.p-2.text-dark(href="/Scans") Scans
            a.btn.btn-outline-primary(href="/Logout") Logout
        b hello #{username}
    .container
      != messages('message',locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br
      hr
      footer
        p Copyright &copy; 2018
      
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/jquery/dist/jquery.js')      
