doctype html
head
  meta(http-equiv='refresh' content='0;url=/getNetworkScan')
  style.
    .loader{
      position:fixed;
      z-index:99;
      top:0;
      left:0;
      width:100%;
      height:100%;
      display:flex;
      justify-content:center;
      align-items:center;
    }
    
    .loader > img{
      width:50%;
    }
      
body
  .loader
    img(src='/images/loading.gif' alt='Loading...')
