extends scansLayout

block content
  h3(style="text-align: center") #{title}
  form(method='POST', action='/LoginPage')
    #form-group
      label Username:
      input.form-control(type="text" name="username")
    br
    br
    #form-group  
      label Password:
      input.form-control(type="password" name="password")
    br
    br
    #form-group  
      label Authentication string:
      input.form-control(name="authString")
    br
    br
    br
    #form-group
      input.form-control(type="submit" value="Submit")
