extends scansLayout

block content
  h3(style="text-align: center") #{title}
  br
  br
  table(style="width:100%")
    tr
      td
        b
          lable Total Grade:
      td
        b
          lable #{totalGrade}
    tr
      td
        b
          lable Length Grade:
      td 
        lable #{lengthGrade}
    tr
      td
        b
          lable digit Grade:
      td 
        lable #{digitGrade}
    tr
      td
        b
          lable Upper-case Grade:
      td 
        lable #{uppercaseGrade}
    tr
      td
        b
          lable Lower-case Grade:
      td 
        lable #{lowercaseGrade}
    tr
      td
        b
          lable Symbol Grade:
      td 
        lable #{symbolGrade}
