extends scansLayout

block content
  h3(style="text-align: center") #{title}
  form(method='POST', action='/Register')
    #form-group
      label Username:
      input.form-control(type="text" name="username")
    br
    #form-group
      label Email:
      input.form-control(type="text" name="email")
    br
    #form-group  
      label Password:
      input.form-control(type="password" name="password")
    br
    #form-group  
      label Repeat Password:
      input.form-control(type="password" value="" name="repeatPassword")
    br
    #form-group  
      label BirthDate:
      select(name="day")
        option(value='1') 1
        option(value='2') 2
        option(value='3') 3
        option(value='4') 4
        option(value='5') 5
        option(value='6') 6
        option(value='7') 7
        option(value='8') 8
        option(value='9') 9
        option(value='10') 10
        option(value='11') 11
        option(value='12') 12
        option(value='13') 13
        option(value='14') 14
        option(value='15') 15
        option(value='16') 16
        option(value='17') 17
        option(value='18') 18
        option(value='19') 19
        option(value='20') 20
        option(value='21') 21
        option(value='22') 22
        option(value='23') 23
        option(value='24') 24
        option(value='25') 25
        option(value='26') 26
        option(value='27') 27
        option(value='28') 28
        option(value='29') 29
        option(value='30') 30
        option(value='31') 31
      select(name="month")
        option(value='1') 1
        option(value='2') 2
        option(value='3') 3
        option(value='4') 4
        option(value='5') 5
        option(value='6') 6
        option(value='7') 7
        option(value='8') 8
        option(value='9') 9
        option(value='10') 10
        option(value='11') 11
        option(value='12') 12
      select(name="year")
        option(value='1950') 1950
        option(value='1951') 1951
        option(value='1952') 1952
        option(value='1953') 1953
        option(value='1954') 1954
        option(value='1955') 1955
        option(value='1956') 1956
        option(value='1957') 1957
        option(value='1958') 1958
        option(value='1959') 1959
        option(value='1960') 1960
        option(value='1961') 1961
        option(value='1962') 1962
        option(value='1963') 1963
        option(value='1964') 1964
        option(value='1965') 1965
        option(value='1966') 1966
        option(value='1967') 1967
        option(value='1968') 1968
        option(value='1969') 1969
        option(value='1970') 1970
        option(value='1971') 1971
        option(value='1972') 1972
        option(value='1973') 1973
        option(value='1974') 1974
        option(value='1975') 1975
        option(value='1976') 1976
        option(value='1977') 1977
        option(value='1978') 1978
        option(value='1979') 1979
        option(value='1980') 1980
        option(value='1981') 1981
        option(value='1982') 1982
        option(value='1983') 1983
        option(value='1984') 1984
        option(value='1985') 1985
        option(value='1986') 1986
        option(value='1987') 1987
        option(value='1988') 1988
        option(value='1989') 1989
        option(value='1990') 1990
        option(value='1991') 1991
        option(value='1992') 1992
        option(value='1993') 1993
        option(value='1994') 1994
        option(value='1995') 1995
        option(value='1996') 1996
        option(value='1997') 1997
        option(value='1998') 1998
        option(value='1999') 1999
        option(value='2000') 2000
        option(value='2001') 2001
        option(value='2002') 2002
        option(value='2003') 2003
        option(value='2004') 2004
        option(value='2005') 2005
        option(value='2006') 2006
        option(value='2007') 2007
        option(value='2008') 2008
        option(value='2009') 2009
        option(value='2010') 2010
        option(value='2011') 2011
        option(value='2012') 2012
        option(value='2013') 2013
        option(value='2014') 2014
        option(value='2015') 2015
        option(value='2016') 2016
        option(value='2017') 2017
        option(value='2018') 2018
        option(value='2019') 2019
    br
    #form-group  
      label Country:
      select(name="country")
        option(value="Afghanistan") Afghanistan
        option(value="Albania") Albania
        option(value="Algeria") Algeria
        option(value="Andorra") Andorra
        option(value="Antigua and Barbuda") Antigua and Barbuda
        option(value="Argentina") Argentina
        option(value="Armenia") Armenia
        option(value="Australia") Australia
        option(value="Austria") Austria
        option(value="Azerbaijan") Azerbaijan
        option(value="Bahamas") Bahamas
        option(value="Bahrain") Bahrain
        option(value="Bangladesh") Bangladesh
        option(value="Barbados") Barbados
        option(value="Belarus") Belarus
        option(value="Belgium") Belgium
        option(value="Belize") Belize
        option(value="Benin") Benin
        option(value="Bhutan") Bhutan
        option(value="Bolivia") Bolivia
        option(value="Bosnia and Herzegovina") Bosnia and Herzegovina
        option(value="Botswana") Botswana
        option(value="Brazil") Brazil
        option(value="Brunei") Brunei
        option(value="Bulgaria") Bulgaria
        option(value="Burkina Faso") Burkina Faso
        option(value="Burundi") Burundi
        option(value="Cambodia") Cambodia
        option(value="Cameroon") Cameroon
        option(value="Canada") Canada
        option(value="Cape Verde") Cape Verde
        option(value="Central African Republic") Central African Republic
        option(value="Chad") Chad
        option(value="Chile") Chile
        option(value="China") China
        option(value="Colombia") Colombia
        option(value="Comoros") Comoros
        option(value="Congo") Congo
        option(value="Costa Rica") Costa Rica
        option(value="Cote d'Ivoire") Cote d'Ivoire
        option(value="Croatia") Croatia
        option(value="Cuba") Cuba
        option(value="Cyprus") Cyprus
        option(value="Czech Republic") Czech Republic
        option(value="Denmark") Denmark
        option(value="Djibouti") Djibouti
        option(value="Dominica") Dominica
        option(value="Dominican Republic") Dominican Republic
        option(value="East Timor") East Timor
        option(value="Ecuador") Ecuador
        option(value="Egypt") Egypt
        option(value="El Salvador") El Salvador
        option(value="Equatorial Guinea") Equatorial Guinea
        option(value="Eritrea") Eritrea
        option(value="Estonia") Estonia
        option(value="Ethiopia") Ethiopia
        option(value="Fiji") Fiji
        option(value="Finland") Finland
        option(value="France") France
        option(value="Gabon") Gabon
        option(value="Gambia") Gambia
        option(value="Georgia") Georgia
        option(value="Germany") Germany
        option(value="Ghana") Ghana
        option(value="Greece") Greece
        option(value="Grenada") Grenada
        option(value="Guatemala") Guatemala
        option(value="Guinea") Guinea
        option(value="Guinea-Bissau") Guinea-Bissau
        option(value="Guyana") Guyana
        option(value="Haiti") Haiti
        option(value="Honduras") Honduras
        option(value="Hong Kong") Hong Kong
        option(value="Hungary") Hungary
        option(value="Iceland") Iceland
        option(value="India") India
        option(value="Indonesia") Indonesia
        option(value="Iran") Iran
        option(value="Iraq") Iraq
        option(value="Ireland") Ireland
        option(value="Israel") Israel
        option(value="Italy") Italy
        option(value="Jamaica") Jamaica
        option(value="Japan") Japan
        option(value="Jordan") Jordan
        option(value="Kazakhstan") Kazakhstan
        option(value="Kenya") Kenya
        option(value="Kiribati") Kiribati
        option(value="North Korea") North Korea
        option(value="South Korea") South Korea
        option(value="Kuwait") Kuwait
        option(value="Kyrgyzstan") Kyrgyzstan
        option(value="Laos") Laos
        option(value="Latvia") Latvia
        option(value="Lebanon") Lebanon
        option(value="Lesotho") Lesotho
        option(value="Liberia") Liberia
        option(value="Libya") Libya
        option(value="Liechtenstein") Liechtenstein
        option(value="Lithuania") Lithuania
        option(value="Luxembourg") Luxembourg
        option(value="Macedonia") Macedonia
        option(value="Madagascar") Madagascar
        option(value="Malawi") Malawi
        option(value="Malaysia") Malaysia
        option(value="Maldives") Maldives
        option(value="Mali") Mali
        option(value="Malta") Malta
        option(value="Marshall Islands") Marshall Islands
        option(value="Mauritania") Mauritania
        option(value="Mauritius") Mauritius
        option(value="Mexico") Mexico
        option(value="Micronesia") Micronesia
        option(value="Moldova") Moldova
        option(value="Monaco") Monaco
        option(value="Mongolia") Mongolia
        option(value="Montenegro") Montenegro
        option(value="Morocco") Morocco
        option(value="Mozambique") Mozambique
        option(value="Myanmar") Myanmar
        option(value="Namibia") Namibia
        option(value="Nauru") Nauru
        option(value="Nepal") Nepal
        option(value="Netherlands") Netherlands
        option(value="New Zealand") New Zealand
        option(value="Nicaragua") Nicaragua
        option(value="Niger") Niger
        option(value="Nigeria") Nigeria
        option(value="Norway") Norway
        option(value="Oman") Oman
        option(value="Pakistan") Pakistan
        option(value="Palau") Palau
        option(value="Panama") Panama
        option(value="Papua New Guinea") Papua New Guinea
        option(value="Paraguay") Paraguay
        option(value="Peru") Peru
        option(value="Philippines") Philippines
        option(value="Poland") Poland
        option(value="Portugal") Portugal
        option(value="Puerto Rico") Puerto Rico
        option(value="Qatar") Qatar
        option(value="Romania") Romania
        option(value="Russia") Russia
        option(value="Rwanda") Rwanda
        option(value="Saint Kitts and Nevis") Saint Kitts and Nevis
        option(value="Saint Lucia") Saint Lucia
        option(value="Saint Vincent and the Grenadines") Saint Vincent and the Grenadines
        option(value="Samoa") Samoa
        option(value="San Marino") San Marino
        option(value="Sao Tome and Principe") Sao Tome and Principe
        option(value="Saudi Arabia") Saudi Arabia
        option(value="Senegal") Senegal
        option(value="Serbia and Montenegro") Serbia and Montenegro
        option(value="Seychelles") Seychelles
        option(value="Sierra Leone") Sierra Leone
        option(value="Singapore") Singapore
        option(value="Slovakia") Slovakia
        option(value="Slovenia") Slovenia
        option(value="Solomon Islands") Solomon Islands
        option(value="Somalia") Somalia
        option(value="South Africa") South Africa
        option(value="Spain") Spain
        option(value="Sri Lanka") Sri Lanka
        option(value="Sudan") Sudan
        option(value="Suriname") Suriname
        option(value="Swaziland") Swaziland
        option(value="Sweden") Sweden
        option(value="Switzerland") Switzerland
        option(value="Syria") Syria
        option(value="Taiwan") Taiwan
        option(value="Tajikistan") Tajikistan
        option(value="Tanzania") Tanzania
        option(value="Thailand") Thailand
        option(value="Togo") Togo
        option(value="Tonga") Tonga
        option(value="Trinidad and Tobago") Trinidad and Tobago
        option(value="Tunisia") Tunisia
        option(value="Turkey") Turkey
        option(value="Turkmenistan") Turkmenistan
        option(value="Tuvalu") Tuvalu
        option(value="Uganda") Uganda
        option(value="Ukraine") Ukraine
        option(value="United Arab Emirates") United Arab Emirates
        option(value="United Kingdom") United Kingdom
        option(value="United States") United States
        option(value="Uruguay") Uruguay
        option(value="Uzbekistan") Uzbekistan
        option(value="Vanuatu") Vanuatu
        option(value="Vatican City") Vatican City
        option(value="Venezuela") Venezuela
        option(value="Vietnam") Vietnam
        option(value="Yemen") Yemen
        option(value="Zambia") Zambia
        option(value="Zimbabwe") Zimbabwe
    br
    #form-group
      input.form-control(type="submit" value="Submit")
