extends scansLayout

block styleBlock
  style.
     
    #link{
    color:#1E5C9A;
    }
    
    #link:hover{
      background-color:#2F3131;
      color:#FFF;
    }

block content
  h3(style="text-align: center") #{title}
  br
  if scans
    h5 Product scans:
    br
    table(style="width:100%")
      tr
        td
          b
            lable Scan name
        td
          b
            lable Scan date
        td
          b
            lable Product MAC
        td
          b
            lable Router MAC
        td
          b
            lable User that took the scan
      each scan in scans
          tr
              td
                a#link(href="/Scan/"+scan.id)
                  lable #{scan.name}
              td
                lable #{scan.date}
              td
                lable #{scan.productMac}
              td
                lable #{scan.routerMac}
              td
                lable #{scan.username}
