doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title #{title}-NetworkScanner
  link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css')
  link(rel="stylesheet" href='/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  // Bootstrap CSS CDN
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4' crossorigin='anonymous')
  // Font Awesome JS
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.13/js/solid.js' integrity='sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ' crossorigin='anonymous')
  script(defer='' src='https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js' integrity='sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY' crossorigin='anonymous')
  block styleBlock
  style.
    @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
    body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    }
    p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
    }
    a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    }
    .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }
    .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    }
    .main {
    position: relative;
    left:5%;
    padding: 0px 2%;
    width:90%;
    border-bottom: 25px solid #D9D9F2;
    background-color: #D9D9F2;
    }
    .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
    }
    /* ---------------------------------------------------
    SIDEBAR STYLE
    ----------------------------------------------------- */
    .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
    }
    #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2F3131;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    }
    #sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
    }
    #sidebar .sidebar-header {
    padding: 20px;
    background: #575B5B;
    }
    #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #2F3131;
    }
    #sidebar ul p {
    color: #fff;
    padding: 10px;
    }
    #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    }
    #sidebar ul li a:hover {
    color: #2F3131;
    background: #fff;
    }
    #sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
    }
    a[data-toggle="collapse"] {
    position: relative;
    }
    .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    }
    ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
    }
    ul.CTAs {
    padding: 20px;
    }
    ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
    }
    li{
      margin: 0 0 5px 0;
    }
    /* ---------------------------------------------------
    CONTENT STYLE
    ----------------------------------------------------- */
    #content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    }
    #sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #E2E2E2;
    cursor: pointer;
    }
    #sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
    }
    #sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
    }
    #sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
    }
    #sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
    }

body(onload="script();")
  .wrapper
    // Sidebar Holder
    nav#sidebar.animated.slideInLeft
      .sidebar-header
        h3 Network Scanner
      ul.list-unstyled.components
        li
          a(href="/") Home Page

        if logedIn
          li
            a(href="/Register") Sign up
          li
            a(href="/LoginPage") Login
        else
          li
            a(href="/ActiveScan") Scans Control
          li
            a(href="/AuthorizationChange") Change authorization
          li
            a(href="/Scans") Scans History
          li
            a(href="/setConfiguration") Set Configurations
        li
          a(href='/Information') Attacks Information
        if !logedIn
          li
            a(href="/Logout") Logout
    // Page Content Holder
    #content
      nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top.shadow
        .container-fluid
          button#sidebarCollapse.navbar-btn(type='button')
            span
            span
            span
          p(style="position:absolute;left:10%;bottom:0%;font-size:150%;color:#2F3131;")
            b Hello #{username}
          a(href="/")  
          img(src='/images/logo.png' alt='Logo' style="position: absolute; right: 0px; height:100%;")
      != messages('message',locals)
      if errors
        each error, i in errors
          div(class="alert alert-danger alert-dismissible fade show" role="alert") #{error.msg}
            button.close(type='button' data-dismiss='alert' aria-label='Close')
              span(aria-hidden='true') &times;
      .main.animated.fadeIn.slower
        block content
// jQuery CDN - Slim version (=without AJAX)
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
// Popper.JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
// Bootstrap JS
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js' integrity='sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm' crossorigin='anonymous')
script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
script(src='/bower_components/jquery/dist/jquery.js') 
script(src='/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js')
script(type='text/javascript').  
  
  
  $('#sidebarCollapse').on('click', function () {
  $('#sidebar').toggleClass('active')
  $(this).toggleClass('active')
  });
