extends scansLayout

block content
  h3(style="text-align: center") #{title}
  form(method='POST', action='/setConfiguration')
    #form-group
      label Server IP:
      input.form-control(type="text" name="serverIP" placeholder=`${serverIP}`)
    br
    br
    #form-group  
      label managed mode interface:
      input.form-control(type="text" name="managedIface" placeholder=`${managedIface}`)
    br
    br
    #form-group  
      label monitor mode interface:
      input.form-control(type="text" name="monIface" placeholder=`${monIface}`)
    br
    br
    #form-group  
      label router MAC address:
      input.form-control(type="text" name="routerMac" placeholder=`${routerMac}`)
    br
    br
    #form-group  
      label Network Name (essid):
      input.form-control(type="text" name="essid" placeholder=`${essid}`)
    br
    br
    br
    #form-group
      input.form-control(type="submit" value="Update File")
