extends scansLayout

block content
  h3(style="text-align: center") #{title}
  br
  br
  table(style="width:100%")
    tr
      td
        b
          lable IP
      td
        b
          lable MAC
      td
        b
          lable Company
    each user in users
      tr
        td
          if user.is_valid == '0'
            label(style="color:red;") #{user.ip}
          else
            label #{user.ip}  
        td
          if user.is_valid == '0'
            label(style="color:red;") #{user.mac}
          else
            label #{user.mac}  
        td
          if user.is_valid == '0'
            label(style="color:red;") #{user.company}
          else
            label #{user.company}
